* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
}

.header img {
  min-width: 20%;
  max-width: 40%;
}

.header h1 {
  width: 210%;
  text-align: center;
  padding-top: 50px;
  color: white;
}

.header h2 {
  width: 210%;
  text-align: center;
  color: whitesmoke;
  margin-top: 20px;
}

.container {
  display: flex;
  direction: row;
}

.container .mensagens {
  width: 30vw;
  padding: 20px;
  margin: 5px;
  height: 70vh;
  background-color: rgb(87, 44, 78);
  color: white;
}

.container .conteudo {
  width: 70vw;
  padding: 20px;
  margin: 5px;
  height: 70vh;
}

.container .conteudo h2 {
  font-size: 20pt;
  font-weight: lighter;
  font-family: "Lucida Sans";
  text-align: center;
  margin-bottom: 40px;
}

.itens div {
  width: 30%;
  height: 150px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgb(36, 202, 152);
  margin: 10px 0px;
  cursor: pointer;
  transition: ease 0.5s;
}

.itens div:hover {
  transform: scale(1.1);
  background-color: rgb(120, 188, 190);
}

.itens {
  display: flex;
  flex-direction: row;
}

.itens h3 {
  font-family: "Lucida Sans";
  font-size: 15pt;
}

.itens p {
  font-family: "Lucida Sans";
  font-size: 12pt;
}

.itens .preco {
  color: aqua;
}
